
.dart_tool/
.packages
.pub-cache/
.pub/
build/


.history/
.vscode/launch.json
.vscode/tasks.json


.DS_Store
Thumbs.db


android/**/generated/
android/.gradle/
android/app/src/main/res/drawable-*/
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
linux/flutter/
macos/Flutter/ephemeral/
windows/flutter/


.web_plugins/


*.jks
*.keystore
*.p12
*.pem
*.key
*.secret
.env*